.next-btn {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.next-btn:hover {
  border: 1px solid white;
}

.next-btn:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
.next-btn {
  text-align: center;
  margin-left: 50px;
  /*   margin-top: 100%;
  margin-left: 36%; */
}
.City {
  border: none;
  border-radius: 15px;
  padding: 15px;
  background-color: #e8e8e8;
  box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5;
  font-size: medium;
  font-weight: bold;
  max-width: 200px;
}

.City:focus {
  outline-color: white;
  place-content: "Enter your message!";
}
.City {
  text-align: center;
  margin-bottom: 40px;
}
.form {
  margin-top: 50%;
  margin-left: 22%;
}
.back-btn {
  background-color: transparent;
  border-color: transparent;
  height: 0;
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
  .aboveformdiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .form {
    margin-top: 0;
    margin-left: 0;
  }
  /*  .City{
    position: absolute;
    top: 50vh;
  left: 40vw;
} */
  /* .next-btn{
  position: absolute;
  top: 60vh;
  left: 40vw;
} */
  .mainImage {
    margin-top: 10vh;
    margin-left: 30vw;
  }
  .temp {
    position: absolute;
    top: 45vh;
    left: 60vw;
  }
  .time {
    display: flex;
    margin-left: 0px;
    color: #91a3ac;
    font-size: larger;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .city {
    display: flex;
    margin-left: 0px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .humidity {
    position: absolute;
    top: 85vh;
    left: 30vw;
  }
  .wind {
    position: absolute;
    top: 85vh;
    left: 60vw;
  }
}
